<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>
            <a href="/survey-list/add" class="btn btn-primary" role="button">
            <i class="fas fa-plus-circle"></i> Add a Survey</a>
            <br><br>
            <table class="table table-bordered table-striped table-hover" onload="statsCount()">
                <tr>
                    <th class="text-center">Prefer Online</th>
                    <th class="text-center">Prefer Face-To-Face</th>
                    <th class="text-center">Prefer Hybrid</th>
                    <th class="text-center">Think Online test is easy</th>
                    <th class="text-center">Think Online test is hard</th>
                </tr>

                <tr>
                    <td class="text-center" id="onlineArea"></td>
                    <td class="text-center" id="f2fArea"></td>
                    <td class="text-center" id="hybridArea"></td>
                    <td class="text-center" id="onlineYes"></td>
                    <td class="text-center" id="onlineNo"></td>
                </tr>
            </table>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Gender</th>
                    <th class="text-center">Program</th>
                    <th class="text-center">Study Method</th>
                    <th class="text-center">Online test is easy</th>
                    <% if(typeof displayName == 'string' && displayName) { %>
                    <th class="text-center">Action</th>
                    <th class="text-center">Action</th>
                    <% } %>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < SurveyList.length; count++) { %>
                    <tr>
                        <td class="text-center"><%= SurveyList[count].name %></td>
                        <td class="text-center"><%= SurveyList[count].gender %></td>
                        <td class="text-center"><%= SurveyList[count].program %></td>
                        <td class="text-center"><%= SurveyList[count].study_meth %></td>
                        <td class="text-center"><%= SurveyList[count].test_diff %></td>
                        <% if(typeof displayName == 'string' && displayName) { %>
                        <td class="text-center">
                            <a href="/survey-list/edit/<%= SurveyList[count]._id %>" class="btn btn-primary btn-sm">
                            <i class="fas fa-pencil-alt"></i> Edit</a>
                        </td>
                        <td class="text-center">
                            <a href="/survey-list/delete/<%= SurveyList[count]._id %>" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i> Delete</a>
                        </td>
                        <% } %>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
  </main>





<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>